html {
  position: relative;
  min-height: 100%;
}

body {
  background-size: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/background_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
}

.header {
  color: #fff;
  background-color: #000000;
  background: rgba(0, 0, 0, 0.8);
}

.navbar-brand {
  font-size: 2.5rem;
}

.logo {
  margin-right: 5px;
  color: #e0e0e0;
}

.landing-logo {
  font-size: 5rem;
}
/* Icons */
.fa-exclamation-triangle {
  font-size: 8em;
}
.navbar-dark .navbar-toggler {
  background: none;
  border: none;
}

.navbar-toggler-icon {
  background-color: teal;
}

.form-wrapper {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  color: #fff;
  padding: 10px;
}

input[type="text"],
input[type="Number"],
input[type="password"],
input[type="email"],
input[type="name"],
textarea {
  background-color: transparent !important;
  border: 1px solid #fff !important;
}

input[type="text"],
input[type="Number"],
input[type="password"],
input[type="email"],
input[type="name"],
textarea::-webkit-input-placeholder {
  color: #fff !important;
  letter-spacing: 1px;
  text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

/* preloader */

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
  z-index: 9999;
}

.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #dc3545;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}
